.SearchContainer {
    position: absolute;
    height: 85%;
    margin: 0;
    top: 15%;
}

.SearchBar {
    position: fixed;
    height: 7.5% !important;
    width: 50% !important;
    font-size: 2.5vh !important;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

.SearchResult {
    position: relative;
    width: 50% !important;
    font-size: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.SearchResult:hover {
    background: lightblue;
}

.list-group {
    position: relative;
    top: 14.75%;
}
