.SearchContainer {
    position: absolute;
    height: 85%;
    margin: 0;
    top: 15%;
}

.SearchBar {
    height: 7.5% !important;
    width: 50% !important;
    font-size: 2.5vh !important;
    text-align: center;
    margin: auto;
}

.SearchResult {
    width: 50% !important;
    font-size: 95%;
    margin: auto;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.list-group-item:hover {
    background: lightblue;
}
