.SearchBar {
    width: 50% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.SearchContainer {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
